<div class="product-card">
    <h3 class="card-header">{{vm.item.displayName}}</h3>

    <div class="utils-bar">
        <button class="btn"
                ng-click="vm.cardAction('delete')">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
        <button class="btn"
                ng-click="vm.addCard()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="btn"
                ng-click="vm.cardAction('edit')">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>

    <div class="btn-group card-list">
        <vertical-nav
                custom-class="card-list"
                title-prop="{{vm.titleProp}}"
                on-select="vm.onSelect(option)"
                list="vm.item.subProducts"
                action-icon="vm.listIcon">
        </vertical-nav>
    </div>
</div>